* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  scrollbar-width: thin;
}

body {
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  overflow-x: hidden;
}

.hiddenCanvasElement {
  display: none;
}

button.slick-arrow.slick-next,
button.slick-arrow.slick-prev {
  background: rgb(59 130 246);
  border-radius: 100px;
}